*.ao
*.ao
*.cache
*.d
*.d
*.d
*.d
*.db
*.desktop
*.exe
*.lnk
*.ncb
*.o
*.opendb
*.opensdf
*.opt
*.pdb
*.plg
*.plg
*.res
*.res
*.sdf
*.suo
*.url
*.user
*.vcxproj.user
.git
.vs
Debug
Generated[!!-~]Files
Release
build-*
debug
ipch
release
x64
x86
